.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    grid-template-rows: repeat(8, 0fr);
    gap: 0px;
}

.grid-square {
    width: 128px;
    height: 128px;
    background-color: var(--cell-color);
}
