.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    grid-template-rows: repeat(8, 0fr);
    gap: 0px;
}

.grid-square {
    width: 100px;
    height: 100px;
    background-color: var(--cell-color);
    --notation: var(--cell-notation);
}
.selected-game {
    background-color: #d3d3d3; /* Light gray background */
    border: 2px solid #000; /* Black border */
}

.btn {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
    transform: translate(-10px);
    background-color: #45a049;
}